<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,300|Arvo:400" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
	<link rel="stylesheet" type="text/css" href="{{relativePath}}media/style.css">
</head>
<body>
	<header>
		Version: {{ _metadata.version }}
	</header>

	{% import _self as forms %}
	{% macro renderToc(items) %}
	<ol class="toc">
	{% for item in items %}
		<li><a href="#{{ item.id }}">{{ item.text }}</a>
		{% if item.children.length > 0 %}
			{% import _self as forms %}
			{{ forms.renderToc(item.children) }}
		{% endif %}
    {% endfor %}
	</ol>
	{% endmacro %}

	<div class="wrapper">
		<aside>
			<h2>Navigation</h2>
		</aside>
		<article>
			<h1>{{ title }}</h1>
			{% if toc %}
				{{ forms.renderToc(toc) }}
			{% endif %}

			{{ _self }}

			{{ contents }}
		</article>
		<div class="clear"></div>
		<footer>
			<p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
		</footer>
	</div>
</body>
</html>